# DB Operativa
DB_OP_USER=postgres
DB_OP_PASSWORD=tu_password_de_supabase
DB_OP_HOST=db.xxxxxxxxxxxx.supabase.co
DB_OP_PORT=5432
DB_OP_NAME=postgres

# DB Administrativa
DB_ADMIN_USER=postgres
DB_ADMIN_PASSWORD=tu_password_de_supabase
DB_ADMIN_HOST=db.yyyyyyyyyyyy.supabase.co
DB_ADMIN_PORT=5432
DB_ADMIN_NAME=postgres

#jwt
JWT_EXPIRES_MINUTES=60
JWT_SECRET=abcd
JWT_ALGORITHM=HS256
